*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 12px 16px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    display: inline;
    float: left;
    clear: both;
}

li:last-child {
    float: right;
    clear: both;
}

h3 {
    text-align: center;
}

p {
    text-align: left;
}


.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: thistle;
    padding: 12px 16px;
    font-size: 20px;
    overflow: hidden;
    margin: 15px;
}

#questionContainer {
 
    height: 250px;
    padding: 5px 5px;
    font-size: 20px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: mediumaquamarine;
    border-radius: 5px;
}

#startBtn {
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    transform: translate(-50, -50);
    background-color: lightskyblue;
    padding: 20px 15px;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: slategray;
    margin: 10px;
}

.btn-grid {
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
   
}

.btn {
    display: block;
    width: 30px;
    margin: 10px;
    padding: 0;
  
}


.hide {
    display: none;
}
