ul {
    list-style-type: none;
    margin: 0;
    padding: 12px 16px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    }
    
    li {
        display: inline;
        float: left; 
    }
    
    li:last-child {
        float: right;
    }
    
    